body{
    background-image: none;
    background-color: #004080;
}


.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #302929;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav .back-arrow {
    display: inline-block;
    font-size: 22px;
    color: white;
    cursor: pointer;
    position: absolute;
}

.sidenav h1 {
    color: #85d1d1;
    font-size: 30px;
}

.sidenav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    color: white !important; 
    display: block;
    cursor: pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #464949;
}


.Section{
    display: none;
    width: 100%;
}
.Section .ChoiceButtonGrouping {
    flex-basis: 100%;
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
