html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    background: linear-gradient(to bottom, #c83d3d, #b77275);
}


.NetworkToInvoice {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* Add the following properties to center vertically */
    height: 100vh;
    flex-direction: column;
}

.NetworkToInvoice h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}

.NetworkToInvoice select{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f8f9fa;

}


.CheckListContainer {
    width: 150%;
    margin: auto;
    text-align: center;
}

.CheckListTable {
    border-collapse: collapse;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px; 
}

.CheckListTable thead {
    background-color: transparent;
}

.CheckListTable th {
    color: white;
}

.CheckListTable th,
.CheckListTable td {
    padding: 10px;
    text-align: left;
    color: white;
    border: 3px solid #f8f9fa;
}

.CheckListTable tbody tr:hover {
    cursor: pointer;
    background-color: #511212;
}

.CheckListCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #f8f9fa;
    cursor: pointer;
    align-items: center;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ButtonContainer button {
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    border: none; 
    background-color: #4b7baa;
    color: white;
    cursor: pointer;
    margin: 10px;
}
.ButtonContainer button:hover {
    background-color: #194979;
    color: #f8f9fa;
}