body{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333;
    background: linear-gradient(to bottom, #c83d3d, #cfadbe);
    margin: 0;
    padding: 0;
}



.NetworkToInvoice {
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto; 
    margin-bottom: 10px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    /* Add the following properties to center vertically */
    height: 100vh;
    flex-direction: column;
}

.NetworkToInvoice h1 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 20px;
}

.NetworkToInvoice select{
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #f8f9fa;

}


