@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/index.css" rel="stylesheet" />
<script src="~/js/index.js"></script>

<div class="animate__animated animate__zoomIn ">
    <div class="Header">
        <h1>Welcome to the Fuelcard App</h1>
        <h3>You are logged in as @User.Identity?.Name.Split('@')[0]</h3>
        <button class="ReloadXeroBTN" onclick="ConnectToXero()">Reload Xero</button>
    </div>
</div>

<div class="animate__animated animate__backInDown animate__delay-1s">
    <div class="ImageContainer">
        <div class="ImageAndLabel">
            <img tabindex="0" onclick="NavigateToCustomerPage()" src="/lib/CustomerDetailsLogo.png" alt="Customer">
            <label>Customer Details</label>
        </div>
        <div class="ImageAndLabel">
            <img tabindex="-1" onclick="NavigateToEdiPage()" style="height:400px;" src="/lib//File Icon Logo.png" alt="EDI">
            <label>EDI's'</label>
        </div>
        <div class="ImageAndLabel">
            <img tabindex="-2" style="margin-top:50px; height:400px;" onclick="NavigateToInvoicingPage()" src="/lib/InvoiceCreateLogo.png" alt="Invoicing">
            <label>Invoicing</label>
        </div>
    </div>
</div>
