<script src="~/js/xeroconnector.js"></script>
<script src="~/js/site.js"></script>
<p style="color:white">
    if you have not been redirected to xero click here

    <a href="#" onclick="ConnectToXero()">Click here</a>
</p>

