

@{
    Layout = "~/Views/Shared/_CustDetailsLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="Section" id="AddOrEditSection">
    <div class="form-container">
        <form id="AddOrEditCustomerForm" onsubmit="">
            <div class="form-row">
                <div class="form-group ">
                    <label for="customerName">Name of Customer:</label>
                    <input type="text" id="customerName" name="customerName" required value="John Doe">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group  ">
                    <label for="emailTo">Email To:</label>
                    <input type="email" id="emailTo" name="emailTo" required value="johndoe@example.com">
                </div>
                <div class="form-group">
                    <label for="emailCc">Email CC:</label>
                    <input type="email" id="emailCc" name="emailCc" value="cc@example.com">
                </div>
                <div class="form-group">
                    <label for="emailBcc">Email BCC:</label>
                    <input type="email" id="emailBcc" name="emailBcc" value="bcc@example.com">
                </div>
            </div>
            <div class="form-row-centered">
                <div class="dropdown">
                    <div class="dropdown-content">
                        <div class="NetworkList">
                            <div class="network-form-row">
                                <div class="form-group" >
                                    <label class="network-item">
                                        <input class="NetworkCheck" type="checkbox" name="network" value="KeyFuels" onclick="ShowNetworkAccountNumberInput(this);" >
                                        KeyFuels
                                        <span id="KeyFuelsSpan">No Fixes</span>
                                    </label>
                                    <div class="NetworkOptions" id="NetworkOptions">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="network-item">
                                        <input class="NetworkCheck" type="checkbox" name="network" value="Texaco" onclick="ShowNetworkAccountNumberInput(this);">
                                        Texaco
                                        <span id="TexacoSpan">No Fixes</span>
                                    </label>
                                    <div class="NetworkOptions" id="NetworkOptions">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="network-item">
                                        <input class="NetworkCheck" type="checkbox" name="network" value="UkFuels" onclick="ShowNetworkAccountNumberInput(this);">
                                        UkFuels
                                        <span id="UkFuelsSpan">No Fixes</span>
                                    </label>
                                    <div class="NetworkOptions" id="NetworkOptions">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="network-item">
                                        <input class="NetworkCheck" type="checkbox" name="network" value="FuelGenie" onclick="ShowNetworkAccountNumberInput(this);">
                                        FuelGenie
                                        <span id="FuelGenieSpan">No Fixes</span>
                                    </label>
                                     <div class="NetworkOptions" id="NetworkOptions">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="invoiceOrderType">Invoice Order Type:</label>
                    <select id="invoiceOrderType" name="invoiceOrderType" required>
                        <option value="transactionTime" selected>Transaction Time</option>
                        <option value="pan">Pan</option>
                        <option value="card">Card</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="paymentTerm">Payment Term:</label>
                    <select id="paymentTerm" name="paymentTerm" required>
                        <option value="7">7</option>
                        <option value="14" selected>14</option>
                        <option value="21">21</option>
                        <option value="28">28</option>
                        <option value="31">31</option>
                    </select>
                </div>
            </div>
            <div class="form-row-centered">
                <button class="FormButton" type="button">I have forgot what goes here</button>
                <button class="FormButton" onclick="ShowNewFixForm()" type="button">New Fix</button>
            </div>
            <div class="form-row-centered">
                <button id="SubmitButton" class="button" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div hidden id="overlay" class="">
        <form id="NewFixForm">
            <div class="form-container">
                <h2>Add New Fix</h2>
                <div id="NewFixSelectParent" class="form-group">
                    <label>Select network:</label>
                </div>
                <div class="form-group">
                    <label for="effectiveFrom">Effective From:</label>
                    <input type="date" id="effectiveFrom" name="effectiveFrom" value="2024-01-01">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" id="endDate" name="endDate" value="2024-12-31">
                </div>
                <div class="form-group">
                    <label for="period">Period:</label>
                    <select id="period" name="periods">
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly" selected>Monthly</option>
                        <option value="Fortnightly">Fortnightly</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="grade">Grade:</label>
                    <select id="grade" name="grade">
                        <option value="Diesel" selected>Diesel</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="fixedPrice">Fixed Price:</label>
                    <input type="text" id="fixedPrice" name="fixedPrice" value="1.20">
                </div>
                <div class="form-group">
                    <label for="fixedPriceIncDuty">Fixed Price Inc Duty:</label>
                    <input type="text" id="fixedPriceIncDuty" name="fixedPriceIncDuty" value="1.50">
                </div>
                <div class="form-group">
                    <label for="fixedVolume">Fixed Volume:</label>
                    <input type="text" id="fixedVolume" name="fixedVolume" value="1000">
                </div>
                <div class="form-group">
                    <label for="periods">Periods:</label>
                    <input type="text" id="periods" name="periods" value="12">
                </div>
                <div class="form-group">
                    <label for="tradeReference">Trade Reference:</label>
                    <input type="text" id="tradeReference" name="tradeReference" value="TR12345">
                </div>
                <div class="form-group">
                    <button onclick="AddNewFix(event)" type="submit">Add Fix</button>
                    <button onclick="CloseNewFixOverlay()" type="button">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="Section" id="CustomerFixSection">
    <p>CustomerFixSection</p>
</div>