@model CustomerDetailsModels


@{
    Layout = "_Layout.cshtml";
}
<link href="~/css/CustDetailsLayout.css" rel="stylesheet" />
<script src="~/js/customerdetails.js"></script>

<div id="sidenav" class="sidenav">
    <div>

        <h1>
            Customer Details
        </h1>
    </div>

    <input id="CustomerSearch" style="width:100%" type="text" class="form-control" placeholder="Search for a customer" list="customerOptions" autocomplete="off" @* onchange="CustomerSearchInput(this)" *@ />
    <datalist id="customerOptions">
        @{
            var customerDictionary = Model.CustomerLists.ToDictionary(e => e.Name, e => e.xeroId);
            var sortedCustomerDictionary = customerDictionary.OrderBy(e => e.Key).ToDictionary(e => e.Key, e => e.Value);
        }

        @foreach (var customer in sortedCustomerDictionary)
        {
            <option value="@customer.Value">@customer.Key</option>
        }
    </datalist>
    <a onclick="ToggleSection('AddOrEditSection',this);">Add/Edit Customer</a>
    <a onclick="ToggleSection('CustomerFixSection',this)"> Customer fix</a>
</div>
<div class="Pagebody">
    @RenderBody()
</div>
