@model InvoicePreCheckModels;
<script src="~/js/invoicing.js"></script>
<link href="~/css/invoicing.css" rel="stylesheet" />

<div class="NetworkToInvoice" id="NetworkToInvoice">
    <select>
        <option value="Keyfuels">Keyfuels</option>
        <option value="Texaco">Texaco</option>
        <option value="UkFuels">UkFuels</option>
        <option value="FuelGenie">FuelGenie</option>
    </select>
</div>