@model InvoicePreCheckModels;
<script src="~/js/invoicing.js"></script>
<script src="~/js/invoicingerrorhandling.js"></script>
<link href="~/css/invoicing.css" rel="stylesheet" />
<script>
 
</script>

<div id="InitialPageLoad">
    <div class="container">
        <div class="loader">
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--dot"></div>
            <div class="loader--text1"></div>
            <div class="loader--text"></div>

        </div>
    </div>
</div>

<div id="ModelError"  class="ModelLoadError" hidden>
    <h1>There was an error loading the page data</h1>
    <button class="ErrorOptions" onclick="history.back()">Home Page</button>
    <button class="ErrorOptions" onclick="RefreshPage()">Refresh Page</button>
    <button class="ErrorOptions ErrorOptions-Report" onclick="window.location.href = 'https://192.168.0.17:666/Home/ReportIssue'">Report It to IT</button>


</div>
<div hidden class="NetworkToInvoice" id="NetworkToInvoice">
    <button class="RefreshPageBtn" onclick="RefreshPage()">Refresh Page</button>
    <h1>Please Select a network to check</h1>
    <select>
        <option disabled selected value="">Please Select an option to start</option>
        <option onclick="showSelectedNetworkCheckList(this)" value="Keyfuels">Keyfuels</option>
        <option onclick="showSelectedNetworkCheckList(this)" value="Texaco">Texaco</option>
        <option onclick="showSelectedNetworkCheckList(this)" value="UkFuels">UkFuels</option>
        <option onclick="showSelectedNetworkCheckList(this)" value="FuelGenie">FuelGenie</option>
    </select>
</div>

<div id="CheckListContainer" class="CheckListContainer" hidden>
    <button class="back-button" onclick="goBackFromNetworkCheck(this)">Back</button>
    <table id="CheckListTable" class="CheckListTable">
        <thead>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="ButtonContainer">
        <button onclick="ApproveButtonClick()" id="ApproveButton" hidden>Approve</button>
    </div>
</div>

<div hidden id="InvoiceSection" class="InvoiceSection">
    <div id="PreInvoicing" class="InvoiceSection">
        <h1 hidden id="CountOfCustomersToBeInvoiced"></h1>
        <h1 id="CustNameInvoicing">Customer Name</h1>
        <h3 id="StatusInvoicing">Status:</h3>
        <button class="Invoicingbtn" onclick="StartInvoicing(this)" id="StartInvoicingBTN">Start Invoicing</button>
        <button class="StopInvoicingbtn" onclick="StopInvoicingbtn(this)" id="StopInvoicingBTN" hidden>Stop Invoicing</button>
        <button class="Invoicingbtn" onclick="StartInvoicingAgain(this)" id="StartInvoicingAgainBTN" hidden>Start Invoicing Again</button>
    </div>
</div>
<div hidden id="AfterInvoicingCompletion">
    <h1 class="InvoiceCompleteMSG" id="InvoicingCompletionMessage"></h1>
</div>